In [3]:
from random import *

for i in range(8):
    print(randint(0,999999))

827757
395881
851775
542032
374580
341521
338792
721449

In [5]:
randint(0,999999)

19491

In [23]:
ages=[0,1,2,3,4,5,6,7,8,9]
sum(ages)
#ages.append(56)
ages

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
ages[3]=100
ages[3]

100

In [61]:
ages[3]=[9,0,8]
ages

[21, 23, 32, [9, 0, 8], 22, 32, 33, 23, 22, 33, 22, 33]

In [62]:
ages[3][1]=[7]
ages

[21, 23, 32, [9, [7], 8], 22, 32, 33, 23, 22, 33, 22, 33]

In [65]:
ages.append(345)
ages

[21, 23, 32, [9, [7], 8], 22, 32, 33, 23, 22, 33, 22, 33, 345]

In [9]:
ages.insert(10,45)
ages

[21, 23, 32, 32, 22, 32, 33, 23, 22, 33, 45, 45, 22, 33, 56]

In [10]:
ages.reverse()
ages

[56, 33, 22, 45, 45, 33, 22, 23, 33, 32, 22, 32, 32, 23, 21]

In [11]:
ages.sort()
ages

[21, 22, 22, 22, 23, 23, 32, 32, 32, 33, 33, 33, 45, 45, 56]

In [9]:
ages.sort(reverse=False)
ages

[21, 22, 22, 22, 23, 23, 32, 32, 33, 33, 33, 56, 100]

In [44]:
ages.extend([10,23,23])

In [21]:
ages.sort(reverse=True)
ages

[56, 33, 33, 33, 32, 32, 32, 23, 23, 22, 22, 22, 21]

In [12]:
del ages[0:10]
ages

[22, 22, 21]

In [31]:
ages=[0,1,2,3,4,5,6,7,8,9]
del ages[-1::-1]
ages

[]

In [22]:
del ages[0:4:2]
ages

[33, 33, 32, 32, 32, 23, 23, 22, 22, 22, 21]

In [66]:
stu_det={'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4, 5],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}
stu_det

{'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4, 5],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}

In [7]:
import pandas as pd
stu_det={'Name': ['Rahul', 'Rohaan', 'John', 'James'],
 'Stu_id': [1, 2, 3, 4],
 'Region': ['S', 'N', 'E', 'NaN'],
 'NM': ['Mitesh', 'Rohaan', 'John', 'James']}
stu_det
pd.DataFrame(stu_det)

     Name  Stu_id Region      NM
0   Rahul       1      S  Mitesh
1  Rohaan       2      N  Rohaan
2    John       3      E    John
3   James       4    NaN   James

In [15]:
a=26
b=26
print(id(a))
print(id(b))

93926849947456
93926849947456

In [32]:
student1 = [45,3,76,12]
student2 = ['Keerthi',9,130,40]

print(id(student1))
print(id(student2))
type(student1)

2530508185216
2530508148544

list

In [35]:
type(student1)

list

In [22]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [28]:
a = 'Edureka'
a[1:7]

'dureka'

In [37]:
a = 'Edureka'
a[5:-5:-1]

'ker'

In [35]:
a = 'Edureka'
a[5:-5:-2]

'kr'

In [37]:
b = 'NIT'
a + b

'EdurekaNIT'

In [40]:
student1.append(3)
print(list(student1))
type(student1)
student1

[45, 3, 76, 12, 3, 3]

[45, 3, 76, 12, 3, 3]

In [59]:
a = 34
print(a)
a

34

34

In [8]:
A=list(range(10,0,-2))
A

[10, 8, 6, 4, 2]

In [42]:
set1={1,2,3,4,5,6,7,8}
set2={6,7,8}
set3={3,4,5,6}
set1.isdisjoint(set2)
set2.issubset(set1)

True

In [3]:
#16.02.21
my_text = "Hello Edureka Hi!"
for i in my_text.split(" "):
    print(i,end=" ")

Hello Edureka Hi!

In [43]:
set1={1,2,3,4,5,6,7,8}
set2={6,7,8,9,10}
set3={3,4,5,6}
set4=set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
set1={1,2,3,4,5,6,7,8}
set2={6,7,8,9,10}
set3={3,4,5,6}
set4=set1.symmetric_difference(set2)
set4

{1, 2, 3, 4, 5, 9, 10}

In [57]:
set1={1,2,3,4,5,6,7,8}
set2={6,7,8,9,10}
set3={3,4,5}
sd=set1.symmetric_difference_update(set2) # why not assigning?
set4=set1
# print(set4)
# print(set1)
print(sd)
sd

None

In [64]:
a=input()
x=eval(a)
print(type(a))
type(a)

0.7
<class 'str'>

str

In [17]:
a = [eval(x) for x in input('Enter the values').split( )]
print(a)
type(a[1])

Enter the values1 2 3
[1, 2, 3]

int

In [26]:
a,b = input('enter 2 nos :').split(' ')
x = int(a)
y = int(b)
for i in range(x,y,2):
    if x%2 == 0:
        print(i)
    else:
        print(i+1)

enter 2 nos :1 5
2
4

In [65]:
string1 = input()
x = input()
y = input()
string2 = string1.replace(x,y)
string2

My food Carbs
C
P

'My food Parbs'

In [69]:
a,b,c=string2.split(' ')
type(a)

str

In [21]:
#Fibonnacci Series 0, 1, 1, 2, 3, 5, 8 ....
x = int(input('Enter the end Number:'))-2
a = 0
b = 1

print(a, b,end=' ')
while x:
    c = a + b
    a = b
    b = c
    print(c,end=' ')
    x = x-1

Enter the end Number:5
0 1 1 2 3

In [70]:
S = float(input('Enter a digit:'))
sum = 0

while S: # S is not equal to zero than it will work : ie True
    sum = sum + S%10
    S = S//10

print(sum)

Enter a digit:4667476
40.0

In [74]:
for i in range(7):
    print(' '*(7-i)+'^'*(i+1))

       ^
      ^^
     ^^^
    ^^^^
   ^^^^^
  ^^^^^^
 ^^^^^^^

In [75]:
for i in range(7):
    print(' '*(2*(7//2)-(i))+'^'*(2*(i+1)-1))

      ^
     ^^^
    ^^^^^
   ^^^^^^^
  ^^^^^^^^^
 ^^^^^^^^^^^
^^^^^^^^^^^^^

In [20]:
for i in range(7):
    print(' '*7+'^'*(2*i-1))

       ^
       ^^^
       ^^^^^
       ^^^^^^^
       ^^^^^^^^^
       ^^^^^^^^^^^

In [80]:
for i in range(7):
    print(' '*(7-i)+'^'*(2*(i+1)-1))

       ^
      ^^^
     ^^^^^
    ^^^^^^^
   ^^^^^^^^^
  ^^^^^^^^^^^
 ^^^^^^^^^^^^^

In [79]:
for i in range(1,7):
    print(' '*(7-1-i)+'^'*(2*i+1))

     ^^^
    ^^^^^
   ^^^^^^^
  ^^^^^^^^^
 ^^^^^^^^^^^
^^^^^^^^^^^^^

In [1]:

def calc(a,b):
    sum = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return {'Sum of a+b':sum, 'Sub of a-b':sub, 'Mul of a*b':mul, 'Div of a/b':div}

calc(10,4)

{'Sum of a+b': 14, 'Sub of a-b': 6, 'Mul of a*b': 40, 'Div of a/b': 2.5}

In [3]:
type(calc(10,4))

dict

In [83]:
def double(x):
    return 2*x
l = [32,33,445,43,44,32,112,22,11]
map(double,l)
# filter(double,l)
# set(filter(double,l))
print(map)
# map

<class 'map'>

In [90]:
s = input('Enter the main string: ')
sub = input('What you are looking for?')
n=len(s)
s.find(sub, 0, n)
# print('Found at index:', pos)

Enter the main string: asdfgh
What you are looking for?df

2

In [85]:
#All the occurances of the value in the string rahullllllluull
s = input('Enter the main string: ')
sub = input('What you are looking for?')
flag = False
pos = -1
n = len(s)
count = 0
while True:
    pos = s.find(sub, pos+1, n)
    if pos==-1:
        break
    print('Found at index:', pos)
    flag = True
    count = count + 1
if flag == False:
    print('Not Found')
print(count)

Enter the main string: aaaaaaa
What you are looking for?a
Found at index: 0
Found at index: 1
Found at index: 2
Found at index: 3
Found at index: 4
Found at index: 5
Found at index: 6
7

In [91]:
city = input('Enter the city name: ')
list1 = ['Mum$bai', 'Pune','Bengaluru','Chennai']
if city.strip('$') in list1:
    print('Your city is available')
else:
    print('Your city is not available')

Enter the city name: Pune
Your city is available

In [93]:
city='$errk'
city.strip('$')

'errk'

In [5]:
s = 'mayam'
for (i,j) in zip(range((0,len(s),1),(0,len(s),-1))
            if s[i] == s[j]
                continue
                print('Palindraome')
            else
                Print('Not Palindrome')

SyntaxError: invalid syntax (<ipython-input-5-4afb62842494>, line 4)

In [101]:
s = input()
n = len(s)
cnt = 0
for i in range(0,n):
    a=s[i]
    b=s[n-1-i]
    if a == b:
        cnt = cnt + 1
        continue
    else:
        print('NP')
        break
if cnt == n:
    print('P')

malayalam
P

In [27]:
s = 'mayam'
n=len(s)
i = 0
while i<=n/2:
    a=s[i]
    b=s[n-1-i]
    i = i + 1
    if a == b:
        print(a,b)

m m
a a
y y

In [21]:
s = 'mayiam'
n = len(s)
i = 0
while i<=n/2:
    a=s[i]
    b=s[n-1-i]
    i = i + 1
    if a != b:
        print('N')
        break
    else:
        continue
        print('P')

N

In [24]:
s = input('Enter a word :')
n=len(s)
i = 0
count= 0
while i<=n/2:
    a=s[i]
    b=s[n-1-i]
    i = i + 1
    if a == b:
        count = count + 1
        
        continue
    else:
        print('Not a Palindrome')
        break
counter = int((n+1)/2)
if count == counter:
    print('Palindrome')

Enter a word :MAYAILAM
Not a Palindrome

s1 = input('Enter a word :')
n=len(s1)
i = 0
count= 0

for i in (0,n):
    s2 = s2 + s1[n-1-i]

print(s1,s2)

In [33]:
s1 = input('Enter a word :') 
n=len(s1) 
i = 0 
count= 0
s2=''
for i in range(0,n): 
    s2 = s2 + s1[n-1-i]

print(s1,s2)
if s1 == s2:
    print('Palindrome')
else:
    print('Not a Palindrome')

Enter a word :doubj
doubj jbuod
Not a Palindrome

In [65]:
def string_reverse(s1):
    n=len(s1) 
    i = 0 
    count= 0
    s3=''
    for i in range(0,n): 
        s3= s3 + s1[n-1-i]
    print(s3)
    return(s3)
s2 = input('Enter a word: ')

if s2 == string_reverse(s2):
      print('Palindrome')
else:
    print('Not a Palindrome')

Enter a word: cnbcnb
bncbnc
Not a Palindrome

In [ ]:
# -*- coding: utf-8 -*-
"""Python - String Operations - Examples .ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/github/dsrahul08/PythonProgramming/blob/master/Codes/Python%20-%20String%20Operations%20-%20Examples%20.ipynb
"""

#rahul
#0 2 4
#rhl
#au

s = input('Enter some string')
print('Characters at even position:', s[::2])
print('Characters at odd position:', s[1::2])

s = input('Enter some string')
i = 0
print('The characters at even position')
while i < len(s):
    print(s[i], end=',')
    i = i+2
print()
print('The characters at odd position')
i=1
while i<len(s):
    print(s[i], end=',')
    i=i+2

#input B4A1D3
#out ABD134

s = input('Enter some string')
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x
print(s1)
print(s2)

s = input('Enter some string')
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x
for x in sorted(s1):
    output = output+x
for x in sorted(s2):
    output = output+x
print(output)

s = input('Enter some string')
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else: 
        s2 = s2 + x
output=s1+s2
print(sorted(output))

s = input('Enter some string')
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    elif x.isdigit():
        s2 = s2 + x
for x in sorted(s1):
    output = output+x
for x in sorted(s2):
    output = output+x
print(output)

In [ ]:
#input a4b3c2
#out aaaabbbcc
s = input('Enter some string')
output = ''
for x in s:
    if x.isalpha():
        output = output+x
        previous = x
    else:
        output = output + previous*(int(x)-1)
print(output)

In [ ]:
#input1 = 'Rahul'
#input2 = 'Rohit'
#output - RRaohhuilt

s1 = input('Enter the 1st string')
s2 = input('Enter the 2nd string')
output = ''
i=j=0
while i<len(s1) or j<len(s2):
    output = output + s1[i] + s2[j]
    i = i+1
    j = j+1
print(output)

In [ ]:
s1 = input('Enter 1st String')
s2 = input('Enter 2nd string')
output = ''
i=j=0
while i<len(s1) or j<len(s2):
    if i < len(s1):
        output = output + s1[i]
        i = i+1
    if j < len(s2):
        output = output + s2[j]
        j = j + 1
print(output)