## Predictive Analytics
## Module 2 – Probability
EnCare Bank Demo on Marginal and Joint Probability
Tasks to be performed 
1. Find the probability that a customer will take a term deposit.
2. Find the probability that a customer has at least 9 years of education.
3. Find the probability that a customer is a technician.

4. Find the probability for a male customer who(and)  has already taken a term deposit.
5. Find the probability that a customer is married and has a housing loan.
6. Find the probability thta a customer has a university degree and no loan.

7. Given that a customer has taken the term deposit find the probability that she is a female.
8. Given that the customer has defaulted in the past, find the probability that she has a blue collar job.
Tasks to be performed

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df=pd.read_csv('term_deposit.csv', sep=',')
df.head()

,gender,age,job,marital,education,default,housing,loan,contact,term_deposit
0,female,56,housemaid,married,basic.4y,no,no,no,telephone,no
1,male,57,services,married,high.school,yes,no,no,telephone,no
2,female,37,services,married,high.school,no,yes,no,telephone,no
3,female,40,admin.,married,basic.6y,no,no,no,telephone,no
4,female,56,services,married,high.school,no,no,yes,telephone,no

## Marginal Probability

1. Find the probability that a customer will take a term deposit.
2. Find the probability that a customer has at least 9 years of education.
3. Find the probability that a customer is a technician.

In [ ]:
#1.Customer will take a term deposit
term=df.term_deposit.value_counts()
e=4640
s=df.shape[0]
prob=round(e/s,3)
print(f'probbility that customer will take a term deposit is {prob}')

probbility that customer will take a term deposit is 0.113

In [ ]:
#2. Find the probability that a customer has at least 9 years of education.
edu=df.education.value_counts()
e=edu['professional.course']+edu['basic.9y']+edu['high.school']+edu['university.degree']
n=df.shape[0]
prob=round(e/n,3)
print(f'the probability that a customer has at least 9 years of education is {prob}')

the probability that a customer has at least 9 years of education is 0.801

In [ ]:
#Find the probability that a customer is a technician
df.job.value_counts()
e=6743
s=df.shape[0]
prob=round(e/s,3)
print(f'the probability that a customer is a technician is {prob}')

the probability that a customer is a technician is 0.164

## Joint Probabilities

4. Find the probability for a male customer who has already taken a term deposit.
5. Find the probability that a customer is married and has a housing loan.
6. Find the probability thta a customer has a university degree and no loan.

In [ ]:
#4.Find the probability for a male customer who has already taken a term deposit.
pd.crosstab(df.gender,df.term_deposit, margins=True)
e=2284
s=df.shape[0]
prob=round(e/s,3)
print(f'the probability for a male customer who has already taken a term deposit is {prob}')

the probability for a male customer who has already taken a term deposit is 0.055

In [ ]:
#Find the probability that a customer is married and has a housing loan.
pd.crosstab(df.marital,df.loan, margins=True)
e=4361
s=41188
prob=round(e/s,3)
print(f'the probability that a customer is married and has a housing loan is {prob}')

the probability that a customer is married and has a housing loan is 0.106

In [ ]:
# 6. Find the probability thta a customer has a university degree and no loan.
pd.crosstab(df.education,df.loan, margins=True)
e=len(df[(df.education=='university.degree') & (df.loan=='no')])
s=df.shape[0]
prob=round(e/s,3)
print(f'the probability that a customer has a university degree and no loan is {prob}')

the probability that a customer has a university degree and no loan is 0.242

# Conditional probabilities

7. Given that a customer has taken the term deposit find the probability that she is a female.
8. Given that the customer has defaulted in the past, find the probability that she has a blue collar job.

In [ ]:
#7. Given that a customer has taken the term deposit find the probability that she is a female.
pd.crosstab(df.term_deposit, df.gender, margins=True)
e=2356
s=4640
prob=e/s
prob

0.5077586206896552

In [ ]:
df.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [ ]:
# Given that the customer has defaulted in the past, find the probability that she has a blue collar job.
e=len(df[(df.default=='yes') & (df.job=='blue-collar')])
s=len(df[df.default=='yes'])
prob=round(e/s,3)
print(f' Given that the customer has defaulted in the past,the probability that she has a blue collar job is {prob}')

 Given that the customer has defaulted in the past,the probability that she has a blue collar job is 0.368

## Predictive Analytics
### Module 2 – Probability Part 1
In-class Practice Questions

In [ ]:
df = pd.read_csv('marveldata.csv')
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

1. Calculate total number of character counts
2. Display columns SEX, EYE, HAIR
3. Calculate total number of characters according to gender
4. Calculate the probability of a character being male
5. Calculate probability of character being female  with red hair i.e., joint probability. Assume the events are independent.
9. Calculate probability of character being female and has blue eyes i.e., joint probability
10. Calculate joint probability in terms of percentage

In [ ]:
df.shape

(16376, 13)

In [ ]:
#1. Calculate total number of character counts
n=len(df.name)
n

16376

In [ ]:
#2. Display columns SEX, EYE, HAIR
features=df[['SEX', 'EYE', 'HAIR']]
features

                   SEX         EYE        HAIR
0      Male Characters  Hazel Eyes  Brown Hair
1      Male Characters   Blue Eyes  White Hair
2      Male Characters   Blue Eyes  Black Hair
3      Male Characters   Blue Eyes  Black Hair
4      Male Characters   Blue Eyes  Blond Hair
...                ...         ...         ...
16371  Male Characters  Green Eyes     No Hair
16372  Male Characters   Blue Eyes        Bald
16373  Male Characters  Black Eyes        Bald
16374  Male Characters         NaN         NaN
16375              NaN         NaN         NaN

[16376 rows x 3 columns]

In [ ]:
# Calculate total number of characters according to gender
char=df.groupby(['SEX']).count()['name']
char

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

In [ ]:
#4. Calculate the probability of a character being male
n=df.shape[0]
e=char['Male Characters']
prob=e/n
prob

0.7106741573033708

In [ ]:
#5. Calculate probability of character being female  with red hair i.e., joint probability. Assume the events are independent
char=df.groupby(['SEX']).count()['name']
hair=df.groupby(['HAIR']).count()['name']
female=char['Female Characters']
red=hair['Red Hair']
prob_female_with_red_hair=(female/n)*(red/n)
round(prob_female_with_red_hair*100,3)

0.887